html, body {
    /* Fix for the odd Chrome extension height 
    re-sizing issue, where the height seems to
    be calculated randomly and doesn't update
    properly */
    height: auto;
}

.header-secur {
    font-family: 'Jura', sans-serif;
}

.header-iffy {
    font-family: 'Schoolbell', cursive;
}

.menu-content {
    padding: 6rem 2rem 3rem 2rem;
}

.menu-content .content-tab:not(.active) {
    display: none;
}

#generate-pwd {
    margin-top: 1rem;
}

#pwd-container {
    display: none;
}

#copy-success-msg, #copy-error-msg, #use-pwd-msg {
    display: none;
}
